body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
}

.container {
    width: 80%;
    max-width: 800px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.create-btn {
    margin-top: 10px;
    background-color: #2e6b8d;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.create-btn:hover {
    background-color: #2e6b8d;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    width: 80%;
    max-width: 450px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
}

.modal-content label {
    display: block;
    margin-bottom: 8px;
    font-size: 1em;
    color: #555;
    text-align: left;
}

.modal-content input[type="date"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

.modal-content .submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #2e6b8d; /* Ajuste a cor conforme necessário */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modal-content .submit-btn:hover {
    background-color: #2e6b8d;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5em;
    color: #aaa;
    cursor: pointer;
}

.close:hover {
    color: #333;
}

.submit-btn {
    background-color: #2e6b8d;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
}

.submit-btn:hover {
    background-color: #2e6b8d;
}

/* Estilo padrão do botão */
#createPeriodBtn {
    background-color: #2e6b8d; /* Verde, por exemplo */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* Estilo quando o botão está desabilitado */
#createPeriodBtn:disabled {
    background-color: #ccc; /* Cinza claro */
    color: #666;
    cursor: not-allowed;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #2e6b8d;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

.back-button:hover {
    background-color: #2e6b8d;
}
